* {
  margin-left: 30px;
}
body {
  background-color: black;
}

p {
  width: 640px;
  height: 58px;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

input {
  background-color: black;
  font-size: 20px;
  margin: 10px 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  width: 350px;
  height: 67px;
  border: 1px solid rgba(255, 255, 255, 1);
}


.btn{
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
  height: 67px;
  background-color: white;
}

div {
 
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: 25px 34px;
  cursor: pointer;
 
}

#searchBar > input{
    width: 1050px;
    height: 67px;
}

table{
    color: rgba(255, 255, 255, 1);
    width: 1050px;
    text-align: center;
    border: 2px solid white;
    border-collapse:collapse;
    margin: 25px 34px;
    font-size: 20px;
}

tr > td, th {
    border: 2px solid white;
    height: 4em;
}
